# OS
.DS_Store

# secrets / env
.env
*.env
**/.env
**/*.env
secrets/

# databases
dev.db
dev.db-wal
dev.db-shm

# dependencies
node_modules/
**/node_modules/

# build output
dist/
**/dist/
dist-ssr/
**/dist-ssr/

# generated
src/generated/prisma/
**/src/generated/prisma/

# logs
ec2-logs/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# local files
*.local

# editor / IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
